.home-image{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;



}
.grid{
    height: 100%;
    width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.sidebar-section {
    margin-left: 10px;
    margin-top: 10px;
    padding: 1em 2em;
    max-width: 300px;
    height:300px;

  
    
}

.main-section{
    display: flex;
   margin: 10px 30px ;
    padding: 1em 2em ;
    background-origin: padding-box;
    max-width: 650 ;
    height: auto;
    background-color: white;
}

    

.upper-section{

    margin: 0px 30px;
    max-width: 700px;
    height: 100px;
    padding-top: 15px;
    font-style: unset ;
}



    

